In [31]:
import os
import pandas as pd
import numpy as np

In [32]:
PATH=".\\datos\\"

In [33]:
files=os.listdir('.\\datos')

In [34]:
files

['.ipynb_checkpoints',
 'datosConcatenados.csv',
 'DEN_2015.csv',
 'DEN_2016.csv',
 'DEN_2017.csv',
 'DEN_2018.csv',
 'DEN_2019.csv',
 'DEN_2020.csv',
 'Poblacion',
 'Zika']

In [59]:
agrupado.head()

   Semana  numero_casos  Anho Departamento
0       1             0  2015         LIMA
1       2             0  2015         LIMA
2       3             0  2015         LIMA
3       4             0  2015         LIMA
4       5             0  2015         LIMA

In [60]:
DatosConcatenados=pd.DataFrame(columns=["Departamento","casosAccumAnho","nuevosCasos","Semana","Anho","ix"])
i=0
n=0
for filename in files[:-2]:

   

    if filename[:3]=="DEN":
        i=i+1
        print(i)
        print(filename)

        print(filename[:3])
        print(filename[4:8])
        lectura=pd.read_csv(PATH+filename,usecols=["Departamento","numero_casos","Semana"],sep=";")
        lecturaCiudad=lectura[lectura.Departamento=="LIMA"]
        lecturaCiudad['numero_casos']=lecturaCiudad.numero_casos.str.split(' ').str[0].astype(int)
        lecturaCiudad.sort_values(by=['Semana'],inplace=True)
        agrupado=lecturaCiudad.groupby(['Semana'])['numero_casos'].sum().reset_index(name='numero_casos')
        agrupado.rename(columns = {'numero_casos':'casosAccumAnho'}, inplace = True)
        agrupado['Anho']=int(filename[4:8])
        agrupado["Departamento"]="LIMA"
        agrupado["nuevosCasos"]=np.diff( agrupado.casosAccumAnho.values,prepend=[0])


        agrupado['ix']= agrupado.index.values+n
        n=n+len(agrupado.ix.values)
        DatosConcatenados= pd.concat([DatosConcatenados, agrupado], axis=0)

1
DEN_2015.csv
DEN
2015

<ipython-input-60-c23089a247b6>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lecturaCiudad['numero_casos']=lecturaCiudad.numero_casos.str.split(' ').str[0].astype(int)
<ipython-input-60-c23089a247b6>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lecturaCiudad.sort_values(by=['Semana'],inplace=True)

2
DEN_2016.csv
DEN
2016
3
DEN_2017.csv
DEN
2017
4
DEN_2018.csv
DEN
2018
5
DEN_2019.csv
DEN
2019
6
DEN_2020.csv
DEN
2020

In [61]:
DatosConcatenados.sort_values(by=['ix'],inplace=True)

In [62]:
    
DatosConcatenados.set_index(["ix"],drop=True, inplace=True)

In [63]:
DatosConcatenados.head()

   Departamento casosAccumAnho nuevosCasos Semana  Anho
ix
0          LIMA              0           0      1  2015
1          LIMA              0           0      2  2015
2          LIMA              0           0      3  2015
3          LIMA              0           0      4  2015
4          LIMA              0           0      5  2015

In [64]:
    
DatosConcatenados.to_csv(PATH+"\\datosConcatenados.csv")